body{
    margin: 0;
    padding: 0;
    
}
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; 
    border: 2px solid white;
}

.images img {
    max-width: 100%; 
    height: auto; 
}


.images img {
    width: 100%; 
    height: auto; 
}
.images img {
    width: 500px;
    height: 200px; 
    object-fit: cover; 
}